.titulo-principal {

    padding-left: 20px;

}
    


#banner {
width: 100%;
}


.principal {

    background:#5ad2f7;
}
P {
text-align: center;    
}

#missao {
font-size: 20px;
}

em strong {
color: rgb( 0, 255, 191);
}

.itens{

font-size: italic;

}

.benefícios {

background:#FFFFFF;
padding: 20px;

}

.titulo-centralizado {

    text-align: center;
}

ul {

    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

#Benefícios {
    width: 100%
}

.banner {
width:100%;

}

.titulo-principal {
text-align: center;
font-size: 2em;

}


.principal p {
margin: 00 1em;

    }
 .principal strong {
font-weight: bold;
 }
 .principal em {

font-style: italic;

 }